.mohira{
display: inline-block;
margin-left: 100px;
text-align:center ;


}

.sofiya{
text-align: center;




}

.charos{
width: 300px;
height: 200px;
display: inline-block;
margin-left: 100px;
text-align: center;
background-color: red;
padding-top: 100px;


}
.aziza{
    
        width: 300px;
        height: 200px;
        display: inline-block;
        background-color: red;
        margin-left: 100px;
        text-align: center;
        padding-top: 100px;
    }
        .h2{
            text-align: center;
            font-size: 40px;
        }
            
       .h2{
        color: white;
       } 
        
        





























